body{
	background-color: #f1f1f1;
	width: 600px; 
}
h1{
	text-align: center;
}
.answer{
	width: 20px;
}
.question p{
	display: inline;
}
a{
	text-decoration: none;
	margin: 100px;
	border: 1px black solid;
	color: black;
	padding: 14px 28px;
	background-color: beige;
	border-radius: 8px;
}
.question input{
	border: 1px black solid;
	border-radius: 4px;
}
